{% if data.size > 0 %}
    {% assign data = data | split: ', ' %}
{% endif %}

{% if href != blank %}
    <a href="{{ href | default: '#' }}"
{% else %}
    <button type="{{ type | default: 'button' }}"
{% endif %}

    class="inline-flex items-center justify-center border border-transparent text-base font-medium disabled:opacity-50 disabled:cursor-auto transition focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500 ease-in-out duration-150 cursor-pointer {% if icon != blank and content == blank %} p-1 rounded {% else %} btn btn-{{ level | default: 'primary' }} {{ class | default: '' }} shadow-sm {% endif %}"
    {% if label != blank %} aria-label="{{ label | default: '' }}" {% endif %}
    {% if controls != blank %} aria-controls="{{ controls | default: '' }}" {% endif %}

    {% if data.size > 0 %}
        {% for attr in data %}
            data-{{ attr | raw }}
        {% endfor %}
    {% endif %}
>
    {% if icon != blank and icon_start == true %}
        {% render 'icon', name: icon %}
    {% endif %}

    {% if content != blank %} {{ content | escape }} {% endif %}

    {% if icon != blank and icon_start == blank %}
        {% render 'icon', name: icon %}
    {% endif %}
{% if href != blank %}</a>{% else %}</button>{% endif %}