<button
    type="{{ type | default: 'button' }}"
    class="inline-flex items-center justify-center border border-transparent shadow-sm
        text-base font-medium disabled:opacity-50 disabled:cursor-auto transition
        focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-red-500
        ease-in-out duration-150 cursor-pointer btn btn-{{ level | default: 'primary' }}
        {{ class | default: '' }}"
    {% for attrs in data | split: ', ' %}
        {{ attrs | raw }}
    {% endfor %}
>
    {{ content | escape }}
</button>