<header class="w-full h-16 md:h-20 shadow border-b">
    <div class="container h-full flex items-center justify-between mg:grid grid-cols-3 justify-items-center">

        {% comment %} Header left {% endcomment %}
        <div class="min-w-max flex items-center gap-4 md:justify-self-start">
            {% comment %} Mobile nav toggle {% endcomment %}
            <div class="md:hidden">
                <button
                    type="button"
                    class="btn btn-icon"
                    aria-label="toggle the mobile menu"
                    aria-controls="mobileMenu"
                    data-ts-toggle="offcanvas"
                    data-ts-target="#mobileMenu"
                >
                    {% render 'icon-menu' %}
                </button>
            </div>

            {% comment %} Store logo start {% endcomment %}
            <a href="{{ shop.url }}" class="flex items-center gap-4">
                {% if settings.logo %}
                    <div class="w-100 inline-block">
                        {%- assign logo_alt = settings.logo.alt | default: shop.name | escape -%}
                        {%- assign logo_height = settings.logo_width | divided_by: settings.logo.aspect_ratio -%}
                        {% capture sizes %}(max-width: {{ settings.logo_width | times: 2 }}px) 50vw, {{ settings.logo_width }}px{% endcapture %}
                        {% capture widths %}{{ settings.logo_width }}, {{ settings.logo_width | times: 1.5 | round }}, {{ settings.logo_width | times: 2 }}{% endcapture %}
                        {{ settings.logo | image_url: width: 600 | image_tag:
                            class: '',
                            widths: widths,
                            height: logo_height,
                            width: settings.logo_width,
                            alt: logo_alt,
                            sizes: sizes,
                            preload: true
                        }}
                    </div>
                {% else %}
                    <span>{{ shop.name }}</span>
                {% endif %}
            </a>
            {% comment %} Store logo end {% endcomment %}
        </div>

        {% comment %} Desktop nav start {% endcomment %}
        <div class="hidden md:block" id="navbarDesktopNav">
            <ul class="flex">
                {% for link in section.settings.main_nav.links %}
                    <li class="relative" {% if link.links.size > 0 %} data-hover-item {% endif %}>
                        <a href="{{ link.url }}" class="md:mx-4 flex items-center gap-4 p-4 md:px-0" data-nav="header-desktop" data-nav-location="{{ link.url }}" data-nav-text="{{ link.title }}">
                            {{ link.title | escape }}
                            <span>
                                {% if link.links.size > 0 %} {% render 'icon-chevron-down', class: 'verical-align-unset' %} {% endif %}
                            </span>
                        </a>
                        {% if link.links.size > 0 %}
                            <ul class="absolute m-0 pt-2 flex flex-col gap-2" data-dropdown-item>
                                {% for childLink in link.links %}
                                    <li class="shadow rounded">
                                        <a href="{{ childLink.url }}" class="block rounded px-6 py-4" data-nav="header-desktop" data-nav-location="{{ childLink.url }}" data-nav-text="{{ childLink.title }}">{{ childLink.title | escape }}</a>
                                    </li>
                                {% endfor %}
                            </ul>
                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </div>
        {% comment %} Desktop nav end {% endcomment %}

        {% comment %} Header right {% endcomment %}
        <div class="md:justify-self-end">
            <button
                type="button"
                class="btn btn-icon"
                aria-label="View your cart"
                data-drawer-target="mini-cart"
                data-drawer-show="mini-cart"
                aria-controls="mini-cart"
            >
                {% render 'icon-shopping-bag' %}
            </button>
        </div>

    </div>
</header>

{% schema %}
{
  "name": "Header",
  "tag": "section",
  "class": "header-section",
  "settings": [
    {
      "type": "link_list",
      "id": "main_nav",
      "label": "Main Navigation"
    }
  ]
}
{% endschema %}